root {
margin: 0;
width: 100%;
}

body {
margin: 0;
 width: 100%;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  background: url("https://res.cloudinary.com/dkaeetuud/image/upload/v1759993251/jose%20de%20arimatea/Gemini_Generated_Image_qh3baiqh3baiqh3b_mkytbl.png");
background-position: center;
background-repeat: none;
background-size: cover;
  display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: center;

}

.headerImg {
  padding: 10%;
  width: 200px;
  height: 20%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 300px;
  font-size: 30px;
  padding: 10%;
  color: #F7E9BA;
  text-shadow:  -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #F7E9BA;
  box-shadow: 2px 2px 10px black;
}

button:hover {
  background-color: #c0b17f;
}