root {
margin: 0;
width: 100%;
}

body {
margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
background-color: #CAA356;
 width: 100%;
 font-family:Verdana, Geneva, Tahoma, sans-serif
}

.nav {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;

  background-color:#F7E9BA;
}

ul {
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}
 li {
    display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80%;
 list-style: none;
 }

 li:hover {
  transition: 300ms;
background-color: #CAA356;
 }
a {
 text-decoration: none;
 color: black;
}

a:hover {
  transition: 500ms;
  text-decoration: underline;
  
}

.header {
  background: url("https://res.cloudinary.com/dkaeetuud/image/upload/v1759993238/jose%20de%20arimatea/Jose-de-Arimatea-paint-1_fjxphx.jpg");
background-position:center;
background-repeat: none;
  display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: center;
box-shadow: 2px 5px 30px 1px #F7E9BA;
height: 30em
}

.headerImg {
  padding: 10%;
  width: 200px;
  height: 40%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 300px;
  font-size: 30px;
  padding: 10%;
  color: #F7E9BA;
  text-shadow:  -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #F7E9BA;
  box-shadow: 2px 2px 10px black;
}

button:hover {
  background-color: #38321e;
  color: aliceblue;
  transition: 500ms;
}

.missionContainer {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background: #F7E9BA ;
padding: 1%;
margin: 4%;
border-radius: 10px;
box-shadow: 2px 7px 20px black;
}

.missionText {
  padding: 2%;
  width: 40%;
}

.missionRight {
  background-color: #CAA356;
  border-radius: 20px;
  padding: 3%;
  box-shadow: 2px 7px 20px black;
}

.aboutUsContainerOne {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10%;
  margin: 10%;
  border-style: solid;
  border-width: 2px;
  border-color:#F7E9BA;
  border-radius: 10px;
  font-size: 80%;
}

.bibleImg {
  width: 100px;
}

.aboutTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.messagesContainer {
  background: #e0c97b;
 margin: 80px;
 padding: 50px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
}

.textMessage {
  width: 500px;
}

.directorContainer {
  background-color:#e0c97b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10%;
  margin: 10%;
  box-shadow: 2px 5px 10px black;
  border-radius: 20px;
}

.directorInfo {
  width: 400px;
  height: 400px;
  background:#F7E9BA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 5px 10px black;
}

.directorImg {
  width: 70%;
}
h4 {
  width: 300px;
  margin: 20px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
 pad: 20px;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 20px;
}

.footerStyle {
background-color:#e0c97b;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 20px;
margin-top: 80px;
}

.socialIcon {
  width: 50px;
  margin: 5px;
}

.socialIcon:hover {
  box-shadow: 2px 5px 10px black;
  border-radius: 50px;
}