root {
margin: 0;
width: 100%;
}

body {
margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
background-color: #CAA356;
 width: 100%;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  background: url("https://res.cloudinary.com/dkaeetuud/image/upload/v1759993238/jose%20de%20arimatea/Jose-de-Arimatea-paint-1_fjxphx.jpg");
background-position:top;
background-repeat: none;
background-size: cover;
  display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: center;
box-shadow: 2px 5px 30px 1px black;
}

.headerImg {
  padding: 10%;
  width: 200px;
  height: 20%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 300px;
  font-size: 30px;
  padding: 10%;
  color: #F7E9BA;
  text-shadow:  -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #F7E9BA;
  box-shadow: 2px 2px 10px black;
}

button:hover {
  background-color: #e0c97b;
  transition: 500ms;
}

.missionContainer {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background: #F7E9BA ;
padding: 1%;
margin: 4%;
border-radius: 10px;
box-shadow: 2px 7px 20px black;
}

.missionText {
  padding: 2%;
  width: 40%;
}

.missionRight {
  background-color: #CAA356;
  border-radius: 20px;
  padding: 3%;
  box-shadow: 2px 7px 20px black;
}

.aboutUsContainerOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 100px;
  border-style: solid;
  border-width: 2px;
  border-color:#F7E9BA;
  border-radius: 10px;
  
}

.aboutTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.messagesContainer {
  background: #e0c97b;
 margin: 100px;
 padding: 100px;
 display: flex;
 flex-direction: row;
 align-items: center;
}