root {
margin: 0;
width: 100%;
}

body {
margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
 background-image: url("https://res.cloudinary.com/dkaeetuud/image/upload/v1763428041/jose%20de%20arimatea/ChatGPT_Image_Nov_17_2025_05_06_26_PM_fydszl.png");
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 width: 100%;
  font-family: 'Lora', serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}


/* Nav component */


.nav {
position: fixed;
  height: 5.5%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color:#e2b656;
}

ul {
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}
 li {
    display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80%;
 list-style: none;
 }

 li:hover {
  transition: 300ms;
background-color: #af811d;
 }
a {
 text-decoration: none;
 color: black;
}

a:hover {
  transition: 500ms;
  text-decoration: underline;
  
}

/* Home Section */

.homeContainer {
  text-align: center;
}

.objetivo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
 margin-top: 100px;
 margin-bottom: 100px;
}

.joseImg {
  width: 320px;
  border-radius: 10px;
}

.joseInformacion {
  width: 300px;
   font-size: medium;
   margin:5%;
}

.carouselComp {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.header {
  display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: center;
border-bottom: #af811d;
border-style: solid;
border-width: 2px;
height: 30em
}

.headerImg {
  padding: 10%;
  width: 200px;
  height: 40%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 300px;
  font-size: 30px;
  padding: 10%;
  color: #F7E9BA;
  text-shadow:  -1px -1px 0 black,  
     1px -1px 0 black,  
    -1px  1px 0 black,  
     1px  1px 0 black;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #F7E9BA;
  box-shadow: 2px 2px 10px black;
}

button:hover {
  background-color: #38321e;
  color: aliceblue;
  transition: 500ms;
}

/* About Us Section */

.missionContainer {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background: #F7E9BA ;
border-radius: 10px;
box-shadow: 2px 7px 20px black;
width: 100%;
height: 100%;
}

.missionImg {
  width: 100%;
  height: 100%;
  margin-top: 20%;
}

h4 {
  width: 300px;
  margin: 20px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
 padding: 20px;
 margin-top:20% ;
 margin-bottom: 20% ;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 20px;
}

.footerStyle {
background-color:#e0c97b;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 20px;
margin-top: 80px;
}

.socialIcon {
  width: 50px;
  margin: 5px;
}

.socialIcon:hover {
  box-shadow: 2px 5px 10px black;
  border-radius: 50px;
}

/* about us section */

.aboutUsContainerOne {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10%;
  margin: 10%;
  border-style: solid;
  border-width: 2px;
  border-color:#e2b656;
  border-radius: 10px;
  text-align: center;
}


.aboutTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: medium;
}

.messagesContainer {
  height: 300px;
background: #F7E9BA;
  margin-bottom: 100px;
 padding: 60px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}

.textMessage {
padding: 20px;
 font-size: medium;
 border-style:solid;
 border-color: white;
 border-radius: 10px;
 border-width: 2px;
}


.teamContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.team-card {
  width: 250px;
  background: #F7E9BA;
  border-radius: 15px;
  box-shadow: 2px 5px 15px rgba(0,0,0,0.25);
  padding: 20px;
  margin: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.team-card:hover {
  transform: translateY(-5px);
}

.team-photo {
  width: 240px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.25);
}

.team-name {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.team-role {
  color: #4a4a4a;
  margin-top: 5px;
  font-size: 15px;
}